/*
:root {
    --gap: 24px;
    --content-gap: 20px;
    --nav-width: 1024px;
    --main-width: 720px;
    --header-height: 60px;
    --footer-height: 60px;
    --radius: 8px;
    --theme: rgb(255, 255, 255);
    --entry: rgb(255, 255, 255);
    --primary: rgb(30, 30, 30);
    --secondary: rgb(108, 108, 108);
    --tertiary: rgb(214, 214, 214);
    --content: rgb(31, 31, 31);
    --hljs-bg: rgb(28, 29, 33);
    --code-bg: rgb(245, 245, 245);
    --border: rgb(238, 238, 238);
}

.dark {
    --theme: rgb(29, 30, 32);
    --entry: rgb(46, 46, 51);
    --primary: rgb(218, 218, 219);
    --secondary: rgb(155, 156, 157);
    --tertiary: rgb(65, 66, 68);
    --content: rgb(196, 196, 197);
    --hljs-bg: rgb(46, 46, 51);
    --code-bg: rgb(55, 56, 62);
    --border: rgb(51, 51, 51);
}

.list {
    background: var(--code-bg);
}

.dark.list {
    background: var(--theme);
}
*/

/*
Есть пять уровней заголовков.

Самый большой (1)- это один диез или двойное подчеркивание. Это заголовок большого раздела в большой статье.

Самый маленький (5) - пять диезов. Он даже чуть меньше основного текста, но болдом.

Самый крупный - делаем по центру с линиями по бокам.

Дизайн:
1 - Заголовок статьи.
2 - Заголовкок большого раздела, если очень большая статья.
3 - 3 диеза. Стандартный заголовок.
4 - 4 диеза. Подзаголовок (маленького раздельчика)
5 - думаю не использовать
*/


@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@1,600&display=swap');



h1{
    color: #ff6f3c ;
}

.post-content h2 {
    /*margin-top:500px;*/
    color: #ff6f3c;
    display:flex;
    font-family: 'Vollkorn', serif;
}
/*h2:before, h2:after {
    color: #ff6f3c;
    content:'';
    flex:1;
    border-bottom:solid 1px;
    margin: auto 0.25rem;
    box-shadow: 0 -1px ;
}*/

h3 {
    color: #ff9a3c;
    font-weight: 700;

}

h4 {
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #ff9a3c;
    background-color: #24262a;
    padding: 3px;
}

h5 {
}